{{#block "header"}}

    <!DOCTYPE html>
    <html>
    <head>
        <title>{{#block "title"}}Hero Squad{{/block}}
        </title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    </head>
    <body>

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Hero Squad</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="./list-heroes">List heroes</a></li>
                <li class="active"><a href="./add-squad">Add Squad</a></li>
                <li class="active"><a href="./add-hero">Add hero</a></li>
            </ul>
        </div>
    </nav>

{{/block}}

<!-- begin inner template-->
<div class="container">

    {{#block "hero"}}{{/block}}
    {{#block "content"}}

    {{/block}}
</div>
<!-- end inner template-->

{{#block "footer"}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </body>
    </html>
{{/block}}